.navbar .element {
  position: absolute;
  width: 84px;
  top: -2px;
  left: 731px;
  font-family: "Ubuntu", Helvetica;
  font-weight: 400;
  color: #4f5c68;
  font-size: 12px;
  text-align: center;
}

.navbar .element-2 {
  position: absolute;
  width: 153px;
  top: -1px;
  left: 498px;
  font-family: "Ubuntu", Helvetica;
  font-weight: 400;
  color: #424b5a;
  font-size: 12px;
  text-align: center;
}

.navbar .element-3 {
  position: absolute;
  width: 89px;
  top: -1px;
  left: 329px;
  font-family: "Ubuntu", Helvetica;
  font-weight: 400;
  color: #4f5c68;
  font-size: 12px;
  text-align: center;
}

.navbar .element-4 {
  position: absolute;
  width: 113px;
  top: -2px;
  left: 136px;
  font-family: "Ubuntu", Helvetica;
  font-weight: 400;
  color: #4f5c68;
  font-size: 12px;
  text-align: center;
}

.navbar .element-5 {
  position: absolute;
  width: 56px;
  font-family: "Ubuntu-Bold", Helvetica;
  font-weight: 700;
  color: #4f5c68;
  font-size: 12px;
  text-align: center;
}

.bottom-bar {
  position: absolute;
  width: 1440px;
  height: 43px;
  top: 981px;
  left: 0;
  background-color: #d9d9d9;
  text-align: center;
}

.navbar {
  position: absolute;
  width: 1440px;
  height: 61px;
  top: 0;
  left: 0;
  background-color: #f2f5f7;
}

.links {
  position: absolute;
  width: 862px;
  height: 13px;
  top: 26px;
  left: 282px;
}

.logo {
  position: absolute;
  width: 242px;
  height: 60px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.separator {
  position: absolute;
  width: 1px;
  height: 43px;
  top: 9px;
  left: 1123px;
}
.icon-shop {
  position: absolute;
  width: 44px;
  height: 39px;
  top: 0;
  left: 0;
}
.label {
  position: relative;
  background-color: rgb(0, 97, 158);
  border-radius: 4px;
  width: 131px;
  height: 40px;
}
.text-wrapper {
  position: absolute;
  top: 12px;
  left: 20px;
  font-family: "Ubuntu", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
}
.sign-up-button {
  position: absolute;
  width: 131px;
  height: 40px;
  top: 13px;
  left: 1300px;
}
.offer {
  position: absolute;
  width: 1440px;
  height: 364px;
  top: 60px;
  left: 0;
}
.interface-user {
  position: absolute;
  width: 26px;
  height: 26px;
  top: 19px;
  left: 1210px;
}
